.banner {
    margin-top: -10px;
    background-image: 
    url('../../assets/images/Prairie-Field.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20rem;

}